.cellInfo {
    display: none;
}

@media screen and (max-width: 680px) {
  .cellInfo img {
    align-self: center;
    padding: 1%;
  }

  .cellInfo {
    display: flex;
    flex-direction: column;
    padding-top: 1%;
    text-decoration: none;
  }
  
  .cellInfo .paragraphCellInfo {
    align-self: center;
    width: 38%;
    text-align: center;
    padding: 0.5%;
  }
}
