.error {
  display: flex;
  flex-direction: column;
}

.errorPage {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.errorPage h4 {
  text-decoration: none;
}

.errorPage a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.errorPage img {
  align-self: center;
  padding: 1%;
}

.errorFooter {
  margin-left: 40%;
  position:absolute;
  bottom:0;
  text-align: center;
}  

@media screen and (max-width: 680px) {
  .error {
    margin-top: -3%;
  }

  .errorFooter {
    margin-left: auto;
  }

  .errorPage img {
    width: 50%;
  }
}
