.projects {
  display: flex;
  flex-direction: column;
}

.slidesProjects {
  width: 100%;
  margin: 2%;
}

.titleProject {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.projectsInfo {
  display: flex;
  padding: 1%;
}

.projectsRepo {
  display: flex;
  flex-wrap: wrap;
  align-self: space-around;
  width: 70%;
}

.card {
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  margin: 1%;
}

.card:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

@media screen and (max-width: 680px) {
  .projects {
    margin-top: -5%;
  }

  .projectsInfo {
    flex-direction: column;
  }

  .slidesProjects, .card {
    margin: auto;
    width: 90%;
  }

  aside {
    margin: auto;
  }

  aside.projectsRepo {
    margin: auto;
    margin-top: 5%;
    width: 100%;
  }

  .card {
    margin-bottom: 3%;
  }
}
