.about {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.about a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.about h2 {
  align-self: center;
  margin-top: 5%;
}

.about .paragraphAbout {
  align-self: center;
  width: 38%;
  text-align: center;
}

.about h3 {
  align-self: center;
}

.subtitle {
  margin: 5% 1% 1% 3%;
}

@media screen and (max-width: 680px) {
  .about {
    margin-top: -5%;
  }

  .about .paragraphAbout {
    align-self: center;
    width: 80%;
    text-align: center;
  }

  .about h3 {
    align-self: center;
    text-align: center;
  }
}
