.work {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.work a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.work h2 {
  align-self: center;
  margin-top: 5%;
}

.work .paragraphWork {
  align-self: center;
  width: 38%;
  text-align: center;
  padding: 0.5%;
}

.work h3 {
  align-self: center;
}

.subtitle {
  margin: 5% 1% 1% 3%;
}

@media screen and (max-width: 680px) {
  .work {
    margin-top: -5%;
  }

  .work .paragraphWork {
    align-self: center;
    width: 80%;
    text-align: center;
  }

  .work h3 {
    align-self: center;
    text-align: center;
  }
}
