section.navigator {
  color:rgb(0, 0, 0);
  display: flex;
  opacity: 70%;
  padding: 1%;
  justify-content: space-around;
}

section.navigator:hover {
  background-color: rgb(199, 197, 197);
  opacity: 100%;
}

section.navigator a {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

@media screen and (max-width: 680px) {
  section.navigator {
    flex-wrap: wrap;
    margin: 6%;
    justify-content: space-around;
  }
}
