section.navigator {
  display: flex;
  justify-content: space-around;
  padding: 1%;
}

nav {
  align-items: center;
  display: flex;
}

section.navigator:hover {
  background-color: rgb(199, 197, 197);
}

section.navigator a {
  color:rgb(0, 0, 0);
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  section.navigator {
    flex-wrap: wrap;
    margin: 10%;
  }
}

@media screen and (max-width: 860px) and (min-width: 420px) {
  section.navigator {
    flex-wrap: wrap;
    margin: 13%;
  }
}

@media screen and (max-width: 731px) and (min-width: 411px) {
  section.navigator {
    flex-wrap: wrap;
    margin: 13%;
  }
}
