.slidesProjects {
  width: 130%;
  margin: 2%;
}

.titleProject {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1%;
}

.projectsInfo {
  display: flex;
  padding: 1%;
}

.walletRepo, .walletApp, .talkerRepo, .rickRepo,
  .rickApp, .spotRepo {
  display: flex;
  justify-content: baseline;
  padding: 0.5%;
}

aside {
  margin-left: 10%;
  margin-right: -10%;
}

article {
  width: 50%;
  text-align: justify;
}
