.about {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.about a {
  color: rgb(0, 0, 0);
  text-decoration: none;
}

.about h2 {
  align-self: center;
  margin-top: 5%;
}

.about .paragraphAbout {
  align-self: center;
  width: 38%;
  text-align: center;
}

.about h3 {
  align-self: center;
}

.techs {
  align-self: center;
  display: flex;
  margin: 1% 3% 1%;
  width: 70%;
  text-align: center;
}

.techs img:hover {
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.techs div {
  align-self: baseline;
  margin-inline: 2%;
}

.subtitle {
  margin: 5% 1% 1% 3%;
}

.techs .reactDiv {
  max-width: 20%;
}

@media screen and (max-width: 680px) {
  .about .paragraphAbout {
    align-self: center;
    width: 80%;
    text-align: center;
  }

  .about h3 {
    align-self: center;
    text-align: center;
  }

  .techs {
    flex-direction: column;
  }

  .techs .reactDiv {
    max-width: 100%;
  }
}
